// A default Qwerty keymap is provided along with the Tutte-Coxeter 36K (TC36K) shield.
// This file is my personal keymap, a modified version of Hands Down Promethium layout
// with a numbers/navigation layer, and symbols on chords/combos. Assuming ISO with
// British locale (e.g. double-quote versus at sign, pipe, etc)

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  chosen {
    /delete-property/     zephyr,console;
    /delete-property/     zephyr,shell-uart;
    /delete-property/     zephyr,uart-mcumgr;
    /delete-property/     zephyr,bt-mon-uart;
    /delete-property/     zephyr,bt-c2h-uart;
  };
};

// Aliases for my layers
#define DEFAULT 0
#define NUM_NAV 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "HD Promethium";
            bindings = <
                &kp V  &kp P  &kp G    &kp M   &kp X         &kp SLASH &kp DOT   &kp SQT &kp MINUS &kp EQUAL
                &kp S  &kp N  &kp T    &kp H   &kp K         &kp COMMA &kp A     &kp E   &kp I     &kp C
                &kp B  &kp F  &kp D    &kp L   &kp J         &kp SEMI  &kp U     &kp O   &kp Y     &kp W
                              &kp LGUI &kp R   &kp BACKSPACE &kp LSHFT &kp SPACE &mo NUM_NAV
            >;
        };

        num_nav_layer {
            display-name = "Num + Nav";
            bindings = <
                &kp KP_DIVIDE   &kp N1 &kp N2 &kp N3 &kp KP_EQUAL    &kp ESC   &kp HOME     &kp UP   &kp END       &kp BACKSPACE
                &kp KP_MULTIPLY &kp N4 &kp N5 &kp N6 &kp KP_PLUS     &kp PG_UP &kp LEFT     &kp DOWN &kp RIGHT     &kp Q
                &kp KP_DOT      &kp N7 &kp N8 &kp N9 &kp KP_MULTIPLY &kp PG_DN &kp LA(LEFT) &kp RET  &kp LA(RIGHT) &kp Z
                                       &trans &kp N0 &trans          &trans    &trans       &trans
            >;
        };

        // Empty layers for ZMK Studio:
        extra2 {
            status = "reserved";
        };
        extra3 {
            status = "reserved";
        };
        extra4 {
            status = "reserved";
        };
        extra5 {
            status = "reserved";
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        // Top left (Q) + top right (P) = &studio_unlock
        combo_sys_reset {
            timeout-ms = <100>;
            key-positions = <0 9>;
            bindings = <&studio_unlock>;
        };

        // Inner corners (T, Y, B, N) = &bootloader
        combo_bootloader {
            timeout-ms = <300>;
            key-positions = <4 5 24 25>;
            bindings = <&bootloader>;
            layers = <DEFAULT>;
        };

        // 2 or 3-key horizontal combos (big four)
        esc_combo {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2 3>;
        };

        esc2_combo {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };

        esc3_combo {
            bindings = <&kp ESCAPE>;
            key-positions = <2 3>;
        };

        bksp_combo {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7 8>;
        };

        bksp2_combo {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        bksp3_combo {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };


        tab_combo {
            bindings = <&kp TAB>;
            key-positions = <21 22 23>;
        };

        enter_combo {
            bindings = <&kp ENTER>;
            key-positions = <26 27 28>;
        };

        // 2-key vertical combos (symbols)
        backtick {
            bindings = <&kp GRAVE>;
            key-positions = <0 10>;
            layers = <DEFAULT NUM_NAV>;
        };

        at_sign {
            bindings = <&kp LS(SQT)>;
            key-positions = <1 11>;
            layers = <DEFAULT NUM_NAV>;
        };

        gbp_sign {
            bindings = <&kp LS(NUMBER_3)>;
            key-positions = <2 12>;
            layers = <DEFAULT NUM_NAV>;
        };

        dollar_sign {
            bindings = <&kp DOLLAR>;
            key-positions = <3 13>;
            layers = <DEFAULT NUM_NAV>;
        };

        percent_sign {
            bindings = <&kp PERCENT>;
            key-positions = <4 14>;
            layers = <DEFAULT NUM_NAV>;
        };

        pipe_sign {
            bindings = <&kp LS(NON_US_BACKSLASH)>;
            key-positions = <14 24>;
            layers = <DEFAULT NUM_NAV>;
        };

        exclation_mark {
            bindings = <&kp EXCL>;
            key-positions = <25 15>;
            layers = <DEFAULT NUM_NAV>;
        };

        caret_sign {
            bindings = <&kp CARET>;
            key-positions = <15 5>;
            layers = <DEFAULT NUM_NAV>;
        };

        ampersand_sign {
            bindings = <&kp AMPS>;
            key-positions = <6 16>;
            layers = <DEFAULT NUM_NAV>;
        };

        hash_sign {
            bindings = <&kp NON_US_HASH>;
            key-positions = <7 17>;
            layers = <DEFAULT NUM_NAV>;
        };

        backslash_sign {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <18 8>;
            layers = <DEFAULT NUM_NAV>;
        };

        tilde_sign {
            bindings = <&kp LS(NON_US_HASH)>;
            key-positions = <9 19>;
            layers = <DEFAULT NUM_NAV>;
        };

        // 2-key horizontal combos (brackets):
        open_curly {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <3 4>;
            layers = <DEFAULT NUM_NAV>;
        };

        close_curly {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <5 6>;
            layers = <DEFAULT NUM_NAV>;
        };

        open_bracket {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <13 14>;
            layers = <DEFAULT NUM_NAV>;
        };

        close_bracket {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <16 15>;
            layers = <DEFAULT NUM_NAV>;
        };

        open_square {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <23 24>;
            layers = <DEFAULT NUM_NAV>;
        };

        close_square {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <25 26>;
            layers = <DEFAULT NUM_NAV>;
        };

    };
};
